li {
    list-style-type: none;
}
/* .jumbotron {
    background: radial-gradient(circle, rgba(74, 74, 72, .8), rgba(74, 74, 72, .8)), url("https://images.unsplash.com/photo-1508014924734-d75124b0f402?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3027af5dc53a2f6e7821f15eb186f4f5&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
} */

.btn {
    margin: .2em;
}
.small {
    font-size: .3em;
}
/* .save-btn, .unsave-btn {
    margin-bottom: 3em;
} */
.card {
    display:inline-block;
}
article {
    max-width: 90%;
    margin: auto;
}
h3 {
    font-size: 2.5em;
    font-style: italic;
}